
<body>
    <button id="clear" class="clear btn"> <fa-icon [icon]="faTrash"></fa-icon>Clear Cards</button>

    <h1>{{deckName}}
    </h1>

    <div id="cards-container" class="cards">
        <div class="card active" [class.show-answer]="showAnswer" (click)="showAns($event)">
            <div class="inner-card">
                <div class="inner-card-front">
                    <fa-icon [icon]="faSyncAlt" class="inner-icon"></fa-icon>
                    <p>
                        what is Php?
                    </p>
                </div>
                <div class="inner-card-back">
                    <fa-icon [icon]="faSyncAlt" class="inner-icon"></fa-icon>
                    <p>
                        a programming language
                    </p>
                </div>
            </div>
        </div>

        <!-- <div class="card">
            <div class="inner-card">
                <div class="inner-card-front">
                    <fa-icon [icon]="faSyncAlt" class="inner-icon"></fa-icon>
                    <p>
                        what is Php?
                    </p>
                </div>
                <div class="inner-card-back">
                    <fa-icon [icon]="faSyncAlt" class="inner-icon"></fa-icon>
                    <p>
                        a programming language
                    </p>
                </div>
            </div>
        </div> -->
    </div>
    <div class="navigation">
        <button id="prev" class="nav-button">
            <fa-icon [icon]="faArrowLeft"></fa-icon>
        </button>
        <p id="current"></p>
        <button id="prev" class="nav-button">
            <fa-icon [icon]="faArrowRight"></fa-icon>
        </button>
    </div>
    <div>
    <button id="show" class="btn btn-small" (click)="toggleAddCard()" ><fa-icon [icon]="faPlus"></fa-icon> Add New Card</button><button id="show" class="btn btn-small" (click)="deleteCard()" >    <fa-icon [icon]="faTimes"></fa-icon> Delete Card</button></div>
    <div id="add-container" *ngIf="showAddCard" class="add-container">
        <h1>Add New Card
            <div id="hide" class=" btn-small btn-ghost">
                <fa-icon [icon]="faTimes"></fa-icon>
            </div>
        </h1>

        <form class="form" (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
        <div class="form-group">
            <label for="question">Question:</label>
            <textarea class="form-control" name="question" id="question" [(ngModel)]="card.question" placeholder="Enter question..."></textarea>
        </div>
        <div class="form-group">
            <label for="question">Answer:</label>
            <textarea class="form-control" name="answer" id="answer" [(ngModel)]="card.answer" placeholder="Enter answer..."></textarea>
        </div>
        <button id="add-card" class="btn">
            <fa-icon [icon]="faPlus"> Add Card</fa-icon>
        </button>
    </form>
    </div>
</body>