<form>
    <div class="form-group form-inline">
        Full text search: <input class="form-control ml-2" type="text" [formControl]="filter"/>
    </div>
  </form>
  
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Deck Name</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let deck of decks ; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        <ngb-highlight [result]="deck.deckname" [term]="filter.value"></ngb-highlight>
      </td>
      <td>
          <button (click)="openDeck(deck)">View Deck</button>
      </td>
    </tr>
    </tbody>
  </table>